---
layout: archive
title: "Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

## Talks

{% assign talks = site.talks | where: "presentation_group", "talk" | sort: "date" | reverse %}
{% for post in talks %}
  {% include archive-single-talk.html %}
{% endfor %}

## Posters

{% assign posters = site.talks | where: "presentation_group", "poster" | sort: "date" | reverse %}
{% for post in posters %}
  {% include archive-single-talk.html %}
{% endfor %}
